@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/*---------------------GENERAL-----------------------*/
body, .text-brown, .brown:hover{
  color:#2D130A!important;
}

.btn{
  width:350px;
  height:40px;
  line-height: 40px;
  text-align: center;
  font-weight: 700;
  transition: all 0.3s;
}

.sub{
  width:250px!important;
  border: 1px solid #2D130A;
}

.large{
  width:90%;
}

.white:hover, .transparent:hover, .brown{
  background-color:#2D130A!important;
  color:white;
}

.brown{
  border: 1px solid white;
}

.white, .brown:hover{
  background-color: white!important;
}

.transparent{
  background-color: transparent;
  border: 1px solid white;
  color:white;
}

h2{
  font-size: 25px;
}


/*-------------------HOMEPAGE--------------------*/
.slide{
  width:100%;
  min-height:100vh;
}

#homepage{
  background-image: url(../../public/images/home_bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.container{
  width:90%;
  min-height:100vh;
  margin:0 auto;
  display: flex;
  /* background-color: purple; */
}

.home_content{
  width:95%;
  height:85vh;
}

.home_title{
  width: 100%;
  height:70vh;
  background-image: url(../../public/images/home_title.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.home_text{
  width: 100%;
  height:25vh;
  /* background-color: aquamarine; */
  display: flex;
  flex-wrap: wrap;
}

.home_intro{
  width:45%;
  height:25vh;
  /* background-color: brown; */
}

.home_intro h1{
  color:white;
  font-size: 20px;
  font-style: italic;
}

hr{
  width:70%;
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: #2D130A;
  border-width: 1.5px;
}

.hr-white{
  border-color: white!important;
}

.home_intro p{
  color:white;
}

.home_btn{
  width:55%;
  height:25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.social_media{
  width:5%;
  height:100vh;
  /* background-color: blue; */
  display: flex;
  align-items: center;
}

.social_media_box{
  height:25vh;
  width:30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin:0 auto;
}


/*---------------------LATEST ARRIVALS-------------------*/
#latest{
  display: flex;
  align-items: center;
}

#latest .container{
  min-height: 90vh;
  width:90%;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  /* background-color: purple; */
}

.home_subbtn{
  width:55%;
  height:25vh;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

/*---------------------CARDS PRODUCTS-------------------*/
.home_latest{
  width:100%;
  min-height:65vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cards_title{
  width: 100%;
  height:10vh;
  display: flex;
}

.cards_text{
  width:85%;
  height:10vh;
}

.cards_arrow p{
  text-align: center;
  line-height: 10vh;
  font-size: 75px;
}

.bold{
  font-weight: 700;
}

/*---------------------ABOUT-------------------*/
#about{
  display: flex;
  flex-wrap: wrap;
}

.about_content{
  width:50%;
  height:100vh;
  background-image: url(../../public/images/about_content.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding-bottom: 70px;
}

.about_container{
  width:90%;
  height:50vh;
  /* background-color: aqua; */
  margin:0 auto;
}

.about_title{
  width:100%;
  height:12vh;
  /* background-color: blue; */
}

.about_logo{
  width:15%;
  height: 12vh;
  margin:0 auto;
  background-image: url(../../public/images/logo.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.about_logo::before, .about_logo::after{
  content: "";
  display: block;
  height: 1.5px;
  background-color: #2D130A;
  width: 280%;
  position: absolute;
  top:50%;
  left:-280%;
  z-index: 100;
}

.about_logo::after{
  left:100%;
}

.about_text{
  margin-top: 15px;
  margin-bottom: 30px;
}

.about_text p{
  margin-bottom: 10px;
}

.about_btn{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about_img{
  width:50%;
  height:100vh;
  background-image: url(../../public/images/about_img.jpg);
  background-position: center center;
  background-size: cover;
}

/*---------------------CONTACT-------------------*/
#contact{
  display: flex;
}

.contact_container{
  width:90%;
  height: 100vh;
  margin:0 auto;
  /* background-color: purple; */
  display: flex;
  align-items: flex-end;
}

.contact_img{
  width:45%;
  height:90vh;
  background-image: url(../../public/images/contact_img.png);
  background-position: center top;
  background-size: cover;
}

.contact_content{
  width:50%;
  height:95vh;
  /* background-color: blue; */
}

.contact_content h2{
  text-align: right;
}

.contact_content hr{
  margin-left: auto;
}

.contact_locations{
  width:100%;
  min-height:40vh;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.locations{
  width:50%;
  height:40vh;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.contact_subdiv{
  width: 100%;
  height:7vh;
  /* background-color: purple; */
  display: flex;
  align-items: center;
}

.contact_icon{
  width:15%;
  height: 7vh;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
}

.contact_icon svg {
  width: 40%;
  height: auto;
  margin:0 auto;
  /* background-color: aquamarine; */
}

.contact_text{
  width:60%;
  height:7vh;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.contact_social_media{
  width:50%;
  height:25vh;
  /* background-color: antiquewhite; */
  margin-top: 45px;
  margin-left: auto;
}

/*---------------------INDIVDUAL DISPLAY-------------------*/
#individual_display{
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
}

#individual_display .container{
  min-height: 90vh;
  width:90%;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
}

.display_box{
  width:50%;
  height:90vh;
  /* background-color: antiquewhite; */
}

.display_box hr{
  width:100%;
}

.img{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display_title{
  height:7vh;
  display: flex;
  align-items: center;
}

.display_title h1{
  width:95%;
  font-size: 30px;
}

.price{
  margin-top: 50px;
  text-align: right;
  font-size: 50px;
}

.cart{
  margin-top: 50px;
  display: flex;
  height: 5vh;
}

.payment{
  width:60%;
  height:5vh;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  /* background-color: brown; */
  gap:15px;
}

.payment_method{
  width:20%;
  height:5vh;
  /* background-color: blue; */
  border-radius: 8px;
  border: 1px solid gray;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#mastercard{
  background-image: url(../../public/images/mastercard.png);
}
#visa{
  background-image: url(../../public/images/visa.png);
}
#paypal{
  background-image: url(../../public/images/PayPal.png);
}
#google{
  background-image: url(../../public/images/google.png);
}
#apple{
  background-image: url(../../public/images/apple.png);
}

/*---------------------MEDIA QUERIES-------------------*/
@media all and (max-width: 992px){
  .home_content, .home_intro, .home_btn, .footer_links, .footer_social_media, .sm, .footer_nav, .footer_copyright, .footer_input{
    width:100%;
  }

  .home_title{
    height:60vh;
  }

  .home_btn{
    align-items: center;
  }

  .home_subbtn{
    width:100%;
    align-items: center;
  }

  .footer_container{
    height:80vh;
  }

  .footer_copyright, .footer_nav{
    text-align: center;
  }


}

@media all and (max-width: 768px){
  .transparent{
    color:#2D130A;
  }

  .home_title{
    height:30vh;
  }

  .home_intro h2{
    margin-top: 20px;
  }
  .social_media{
    display: none;
  }

  .container, .about_container{
    min-height:80vh;
  }

  .home_latest{
    margin-top: 70px;
  }

  .about_content, .about_img, .contact_content, .locations, .display_box, .payment{
    width:100%;
  }

  .about_btn{
    justify-content: center;
    gap:20px;
  }

  .contact_img{
    display: none;
  }

  .contact_content{
    min-height:100vh;
  }

  .locations{
    margin-bottom: 75px;
    height:20vh;
  }

  .contact_social_media{
    margin:0 auto;
  }

  .display_box:first-child, .img{
    height:40vh;
    margin-bottom: 30px;
  }
  
  .display_title{
    margin:30px 0;
  }

}
