@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body{
  color:#2D130A;
}
/*-------------------HOMEPAGE--------------------*/
.slide{
  width:100%;
  min-height:100vh;
}

#homepage{
  background-image: url(../../public/images/home_bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.container{
  width:90%;
  min-height:90vh;
  margin:0 auto;
  display: flex;
  background-color: blueviolet;
}

.home_content{
  width:95%;
  height:85vh;
  background-color: antiquewhite;
}

.home_title{
  width: 100%;
  height:70vh;
  background-image: url(../../public/images/home_title.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.home_text{
  width: 100%;
  height:20vh;
  background-color: aquamarine;
  display: flex;
}

.home_intro{
  width:50%;
  height:100%;
  background-color: brown;
}


.social_media{
  width:5%;
  height:90vh;
  background-color: blue;
}

